@layer base {
  @font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf)format('truetype');
    font-weight: 100 900;
    font-display: swap;
  }
  
  :root {
    --clr-orange: hsl(35, 77%, 62%);
    --clr-red: hsl(5, 85%, 63%);
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-dark-blue: hsl(240, 100%, 5%);

    /* font sizes */
    --fs-15: 0.9375rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-56: 3.5rem;

    /* font weights */
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;

    /* line heights */
    --lh-1: 1;
    --lh-1-2: 1.2;
    --lh-1-33: 1.33;
    --lh-1-73: 1.73;

    /* spacing */
    --sp-8: 0.5rem;
    --sp-12: 0.75rem;
    --sp-16: 1rem;
    --sp-24: 1.5rem;
    --sp-28: 1.75rem;
    --sp-30: 1.875rem;
    --sp-32: 2rem;
    --sp-36: 2.25rem;
    --sp-40: 2.5rem;
    --sp-56: 3.5rem;
    --sp-64: 4rem;
    --sp-72: 4.5rem;
    --sp-80: 5rem;
    --sp-88: 5.5rem;
    --sp-144: 9rem;
  }  

  *, 
  *::before, 
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  html {
    font-size: 16px;
    font-family: 'Inter', system-ui, sans-serif;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
      scroll-behavior: smooth;
    }
  }

  body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 0.9375rem; /* 15px */
    background-color: var(--clr-off-white);
  }

  img, 
  picture, 
  video, 
  canvas, 
  svg {
    display: block;
    max-width: 100%;
  }

  input, 
  button, 
  textarea, 
  select {
    font: inherit;
  }

  p,
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
    color: var(--clr-dark-grayish-blue);
    line-height: var(--lh-1-73);
  }
    
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    text-wrap: balance;
    color: inherit;
  }

  ol, 
  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    transition: all 0.3s ease;
  }
}