@layer component {
    .header-overlay {
        display: none;
    }

    .navbar.active ~ .header-overlay {
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgb(0, 0, 0 ,0.5);
        z-index: 10;
    }
}