@layer components {
  .header {
    margin-bottom: var(--sp-56);
    padding-top: var(--sp-56);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    & .navbar {
      & .nav-list {
        color: var(--clr-grayish-blue);
        display: flex;
        gap: var(--sp-40);

        & .nav-item {
          & .nav-link:hover {
            position: relative;
            color: var(--clr-red);
          }

          & .nav-link::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -4px;
            width: 100%;
            height: 1px;
            background-color: var(--clr-red);
            transform: translateX(-50%) scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;
          }

          & .nav-link:hover::after {
            transform: translateX(-50%) scaleX(1);
          }
        }
      }
    }
  }
}
